<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
<!-- Navbar -->
<nav class="bg-white shadow-md">
    <div class="container mx-auto p-4 flex justify-between items-center">
        <a href="/blogs" class="text-xl font-bold">Home</a>
        <div class="flex gap-4 flex-row">
            <button id="personalSpaceButton" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Espace personnel</button>
            <button id="authButton" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Connexion</button>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container mx-auto p-4">
    <%- body %>
</div>

<script type="module" src="/js/components/navbar.js"></script>
</body>
</html>