<h1 class="text-2xl font-bold mt-4 text-center">Configurer l'authentification à deux facteurs</h1>
<div class="mt-4" id="qrcode-container"></div>
<button id="logoutAllButton" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">Déconnexion de tous les équipements</button>
<script src="/js/auth/2fa.js"></script>
